---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M29NN82');</script> -->
  <!-- End Google Tag Manager -->

	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>	
  <link rel="icon" type="image/png" href="https://briandainton.com/assets/img/favicon.png?1">

	<title>{{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">

	<link rel='stylesheet' href='/global.css'>
  <link rel='stylesheet' href='/index.css'>
	<link rel='stylesheet' href='/build/bundle.css'>

  <meta name="description" content="{{ page.description }}">
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ page.description }}">
  <meta itemprop="image" content="{{ page.thumbnailLarge }}">
  <meta property="og:url" content="https://briandainton.com/companion/{{page.section}}/{{page.key}}.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="{{ page.thumbnailLarge }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ page.thumbnailLarge }}">
  
	<script defer src='/build/bundle.js'></script>  
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M29NN82"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
  <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
